:root {
  --main-text: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtitle-text: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay: #ecf1f4;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*
  |============================
  | reset start
  |============================
*/
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
li {
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  font-style: normal;
}
li {
  list-style: none;
}
/* input {
  border-color: inherit;
  border-image: none;
  border-style: none;
  border-width: 0;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
  |============================
  | Base
  |============================
*/
body {
  font-family: var(--main-text);
  color: var(--text-color);
  letter-spacing: 0.32px;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white-background);
}
button {
  border: none;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* buttons */
.text {
  color: var(--text-color);
}
.button {
  background-color: var(--primary-brand);

  color: var(--white-background);
  font-family: var(--main-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color var(--transition);
}
.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}
.subtitle {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.title {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* header */
.wrapper {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--primary-brand);
  font-family: var(--logo-font);
  font-size: 18px;

  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.header-logo {
  color: var(--dark-color);

  padding-top: 24px;
  padding-bottom: 24px;
}
.hlw {
  margin-right: 76px;
}

.list {
  list-style: none;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-link {
  color: var(--dark-color);
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;

  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color var(--transition);
}

.nav-list-link::after {
  content: "";
  width: 100%;

  position: absolute;
  display: block;

  height: 4px;

  border-radius: 2px;
  left: 0;
  bottom: -3px;

  /* ВИДАЛИТИ! current and bg*/
}
.nav-list-link.current::after,
.nav-list-link:hover::after,
.nav-list-link:focus::after {
  background-color: var(--primary-brand);
  transition: background-color var(--transition);
}
.current {
  color: var(--pressed-state);
  transition: color var(--transition);
}

.nav-list-link:hover,
.address-link:hover,
.nav-list-link:focus,
.address-link:focus {
  color: var(--pressed-state);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-link {
  color: var(--text-color);
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition);
}
/* hero */
.hero-section {
  background-color: var(--hero-background);
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.hero-title {
  color: var(--white-background);
  text-align: center;
  font-size: 56px;
  max-width: 496px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

/* features */

.features-section {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  display: flex;
  flex-wrap: wrap;
}
.features-subtitle {
  margin-bottom: 8px;
}
.features-list-bg {
  background-color: var(--light-color);
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
}
/* about us */
.about-section {
  padding-bottom: 120px;
}
.about-subtitle {
  margin-bottom: 72px;
}
.photo-list {
  display: flex;
  gap: 24px;
}
.photo-list-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
/* team */
.team-title {
  margin-bottom: 72px;
}
.st-cards-list {
  display: flex;
  gap: 24px;
}
.st-cards-text {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}
.st-cards-item {
  background-color: var(--white-background);
  flex-basis: calc((100% - 3 * 8) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  text-align: center;
}
.team-text {
  text-align: center;
}
.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.socials-list-item {
  background-color: var(--primary-brand);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.socials-list-link {
  transition: background-color var(--transition);
}
.list-item-icon {
  fill: var(--light-color);
  transition: fill var(--transition);
}
.socials-list-item:hover,
.socials-list-item:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
}
/*
  |============================
  | customers
  |============================
*/
.customers-section {
  padding: 120px 0 120px;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-icon {
  fill: var(--subtitle-text);
  border-radius: 4px;
  border: 1px solid var(--subtitle-text);
  padding: 16px 32px;
  transition: border-color var(--transition), color var(--transition);
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtitle-text);
  height: 100%;
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--pressed-state);
  border: 1px solid var(--pressed-state);
  cursor: pointer;
  color: var(--pressed-state);
}
.customers-icon-item {
  fill: currentColor;
}
/* footer */
.footer-container {
  display: flex;
  align-content: center;
  align-items: baseline;
}
.footer-background {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  color: var(--light-color);
}
.footer-text {
  color: var(--white-background);
  width: 264px;
}
.footer-wrap {
  margin-right: 120px;
}

.flb {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-socials {
  margin-right: 80px;
}
.footer-subtitle {
  font-weight: 500;
  color: var(--white-background);
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-socials-list .footer-icon:hover,
.footer-socials-list .footer-icon:focus {
  background-color: var(--success-color);
}
.dist {
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.dist-label {
}
.dist-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--white-background);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.dist-input::placeholder {
  color: inherit;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-telegram {
  fill: var(--white-background);
  margin-left: 16px;
}

/*
  |============================
  | PORTFOLIO
  |============================
*/
.pf-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list-button {
  background: var(--light-color);
  color: var(--primary-brand);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  min-width: 69px;
  padding: 12px 24px;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}
.portfolio-list-button:hover,
.portfolio-list-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.pf-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.pf-cards-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.pf-cards-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-cards-wrapper {
  position: relative;
  overflow: hidden;
}
.pf-cards-item {
  flex-basis: calc((100% - 2 * 24) / 3);
}

.pf-cards-text {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}
.pf-subtitle {
  margin-bottom: 8px;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  padding: 40px 32px;
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.pf-cards-link:hover .overlay-text,
.pf-cards-link:focus .overlay-text {
  transform: translateY(0%);
}
.pf-cards-link:hover,
.pf-cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*
  |============================
  | MODAL WINDOW
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: transform 500ms, visibility 500ms, opacity 400ms;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
.modal-window {
  width: 408px;
  min-height: 584px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 400ms linear;
  /* transition: transform var(--transition); */

  padding: 72px 24px 24px 24px;

  border-radius: 4px;
  background-color: var(--modal-background);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

  transition: background-color var(--transition), border var(--transition);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  fill: var(--white-background);
  border: none;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.backdrop.is-hidden .modal-window {
  transform: translateX(-50%) translateY(10%);
}
.modal-close-icon {
  transition: fill var(--transition);
}
.modal-caption {
  display: block;

  margin-bottom: 16px;
  color: var(--dark-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/*
  |============================
  | MODAL FORM
  |============================
*/
.modal-form {
}
.modal-label {
  display: block;
  margin-bottom: 4px;

  color: var(--subtitle-text);
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-item {
  margin-bottom: 8px;
}
.modal-input-wrapper {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--transition);

  padding-left: 38px;
}
.modal-input:focus {
  border-color: var(--primary-brand);
}
.modal-form-icons {
  fill: var(--hero-background);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill var(--transition);
}
.modal-input:focus + .modal-form-icons {
  fill: var(--primary-brand);
}
.modal-form-comment {
  margin-bottom: 16px;
}
.modal-comment {
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  padding: 8px 16px;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);

  font-size: 12px;

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04px;
}
.modal-chek-wrapper {
  margin-bottom: 24px;
}
.modal-agreement {
}
.modal-form-agree-icon {
  fill: var(--white-background);
}
.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  color: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}
input[type="checkbox"]:checked ~ .modal-form-desc > .agreement-checkbox {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light-color);
}

.modal-form-desc {
  color: var(--subtitle-text);
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-link {
  color: var(--primary-brand);

  text-decoration-line: underline;
}
.modal-button {
  margin-left: auto;
  margin-right: auto;
}
